{% extends "base.html" %}
{% block content %}

{% include 'includes/header.html' %}

<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Avaliable Containers</h1>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- <div class="card-header">
                        <h5 class="card-title mb-0">Empty card</h5>
                    </div> -->
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Ports</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in containers %}
                                <tr>
                                    <td>{{c.image}}</td>

                                    <td>
                                        {% for p in c.ports %}
                                            {{p['PrivatePort']}}
                                            <i class="fas fa-fw fa-long-arrow-alt-right"></i>
                                            {% if p['PrivatePort'] == 80 %}
                                            <a href="//{{request.base_url.hostname}}:{{p['PublicPort']}}" target="_blank">{{p['PublicPort']}}</a>
                                            {% else %}
                                            {{request.base_url.hostname}}:{{p['PublicPort']}}
                                            {% endif %}
                                        {% endfor %}
                                    </td>

                                    <td>
                                        <form action="{{url_for('user_container_action')}}" method="POST">
                                            {{ form.csrf_token }}
                                            <input type="hidden" name="id" value="{{c.id}}">
                                            <input type="hidden" name="image" value="{{c.image}}">

                                            <div class="btn-group" role="group">
                                                <button type="submit" name="action" class="btn btn-success" {{'disabled' if c.running else ''}} value="start">Start</button>
                                                <button type="submit" name="action" class="btn btn-primary" {{'disabled' if not c.running else ''}} value="restart">Restart</button>
                                                <button type="submit" name="action" class="btn btn-warning" {{'disabled' if not c.running else ''}} value="stop">Stop</button>
                                                <button type="submit" name="action" class="btn btn-danger" {{'disabled' if not c.running else ''}} value="kill">Kill</button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}
